<div class="container">
  <h1 class="text-center">Esercizio numero 5 su angular</h1>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form (ngSubmit)="submitForm()" #form="ngForm">
          <div ngModelGroup = "eroeInfo"
          #userGroup="ngModelGroup"
          id="eroeInfo">
            <div class="form-group my-3">
              <label for="name">Nome supereroe</label>
              <input type="text" class="w-100"
              id="name"
              name="name"
              required
              [ngModel] = "eroe.name"
              #name ="ngModel"/>
              <p *ngIf="name.invalid && name.touched">campo obbligatorio</p>
            </div>

            <div class="form-group my-3">
              <label for="alterEgo">Alter ego supereroe</label>
              <input type="text" class="w-100"
              id="alterEgo"
              name="alterEgo"
              required
              [ngModel] = "eroe.alterEgo"
              #alterEgo ="ngModel"/>
              <p *ngIf="alterEgo.invalid && alterEgo.touched">campo obbligatorio</p>
            </div>

            <div class="form-group my-3">
              <label for="power">Potere supereroe</label>
              <select id="power" class="form-select"
              name="power"
              [ngModel]="eroe.power"
              required #power ="ngModel">
                <option *ngFor="let power of powers" value="value" [value]="power.label">{{power.label}}</option>

              </select>
              <p *ngIf="power.invalid && power.touched"></p>
              </div>

              <div class="form-group my-3">
                <label for="enemy">Nemico supereroe</label>
                <input type="text" class="w-100"
                id="enemy"
                name="enemy"
                maxlength="10"
                required
                [ngModel] = "eroe.enemy"
                #enemy ="ngModel"/>
                <p *ngIf="enemy.invalid && enemy.touched && enemy.errors">campo obbligatorio con un massimo di 10 caratteri</p>
              </div>

              <div class="form-group my-3">
                <label for="planet">Pianeta supereroe</label>
                <input type="text" class="w-100"
                id="planet"
                name="planet"
                minlength="5"
                required
                [ngModel] = "eroe.planet"
                #planet ="ngModel"/>
                <p *ngIf="planet.invalid && planet.touched && planet.errors">campo obbligatorio con un minimo di 5 caratteri</p>
              </div>

              <div class="form-group my-3">
                <label for="weakness">Debolezza supereroe</label>
                <input type="text" class="w-100"
                id="weakness"
                name="weakness"


                [ngModel] = "eroe.weakness"
                #weakness ="ngModel"/>
              </div>

              <button class="btn btn-success my-3" [disabled]="form.invalid">Crea</button>


        </div>
        </form>
      </div>
      <div class="col-12">
        <form [formGroup]="contenitoreForm">
          <div formGroupName="eroeInfo" >
            <div  class="form-group my-3">
                <label class="w-100">
                  Nome eroe
                  <input type="text" formControlName="name" class="w-100"
                  id="name" ngModel/>
                </label>
                <span *ngIf="getFormC('eroeInfo.name')?.invalid && getFormC('eroeInfo.name')?.touched">
                  <ng-container *ngIf="getErrorsC('eroeInfo.name', 'required')">
                    campo obbligatorio
                  </ng-container>
                </span>
            </div>

            <div  class="form-group my-3">
              <label class="w-100">
                alter ego eroe
                <input type="text" formControlName="alterEgo" class="w-100"
                id="alterEgo" ngModel/>
              </label>
              <span *ngIf="getFormC('eroeInfo.alterEgo')?.invalid && getFormC('eroeInfo.alterEgo')?.touched">
                <ng-container *ngIf="getErrorsC('eroeInfo.name', 'required')">
                  campo obbligatorio
                </ng-container>
              </span>
          </div>

          <div  class="form-group my-3">
            <label class="w-50">
              potere eroe
              <select  formControlName="power" class="w-50"
              id="power" ngModel>
                <option *ngFor="let power of powers" [value]="power.label"
                value = "value">{{power.label}}</option>
              </select>
            </label>
            <span *ngIf="getFormC('eroeInfo.power')?.invalid && getFormC('eroeInfo.power')?.touched">
              <ng-container *ngIf="getErrorsC('eroeInfo.power', 'required')">
                campo obbligatorio
              </ng-container>
            </span>
        </div>

        <div  class="form-group my-3">
          <label class="w-100">
            nemico eroe
            <input type="text" formControlName="enemy" class="w-100"
            id="enemy" />
          </label>
          <span *ngIf="getFormC('eroeInfo.enemy')?.invalid && getFormC('eroeInfo.enemy')?.touched">
            <ng-container *ngIf="getErrorsC('eroeInfo.enemy', 'required')">
              campo obbligatorio
            </ng-container>
            <ng-container *ngIf="getErrorsC('eroeInfo.enemy', 'maxlength')">
              massimo 10 caratteri
            </ng-container>
          </span>
      </div>

      <div  class="form-group my-3">
        <label class="w-100">
          pianeta eroe
          <input type="text" formControlName="planet" class="w-100"
          id="planet" />
        </label>
        <span *ngIf="getFormC('eroeInfo.planet')?.invalid && getFormC('eroeInfo.planet')?.touched">
          <ng-container *ngIf="getErrorsC('eroeInfo.planet', 'required')">
            campo obbligatorio
          </ng-container>
          <ng-container *ngIf="getErrorsC('eroeInfo.planet', 'minlength')">
            minimo 5 caratteri
          </ng-container>
        </span>
    </div>

    <div  class="form-group my-3">
      <label class="w-100">
        Debolezza eroe
        <input type="text" formControlName="weakness" class="w-100" ngModel
        id="weakness"/>
      </label>
    </div>
  </div>
<button class="btn btn-success" (click)="submitReactiveForm()"
[disabled]="contenitoreForm.invalid">Crea</button>
        </form>
      </div>
    </div>
  </div>
</div>
